@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Muli:ital,wght@1,577&display=swap');

$box-bg: #ccc;
$box-bg-hover: #FAD689;
$box-bg-active: #F7C242;

$section-bg:#ddd;
$section-orange: #f60;
$section-yellow: yellow;
$section-pink: pink;

// right side nav
$list-bg: #bcfff650;
$link-color: #faee5a;
$link-color-hover: rgb(255, 255, 255);
$link-shadow: #4e413b;
