@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


// right side nav
$list-bg: rgb(164, 255, 205);
$link-color: #faee5a;
$link-color-nothover: rgb(161, 161, 161);
$link-shadow: #4e413b;
