@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$box-bg: #0cf;
$box-bg-hover: rgb(66, 144, 247);
$box-bg-active: rgb(0, 39, 156);

$section-bg:#ddd;
$section-orange: #f60;
$section-yellow: yellow;
$section-pink: pink;

// right side nav
$list-bg: #e4fcf9;
$link-color: #faee5a;
$link-color-hover: rgb(255, 255, 255);
$link-shadow: #4e413b;
